body {
  /* 让字体更细一点 */
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Italiana';
  font-style: normal;
  src: url('./italiana.v5.woff2');
}

.table-action-btn {
  border: none;
  background: inherit;
  cursor: pointer;
  color: #108ee9;
  &:hover {
    color: #49a9ee;
  }
  &:focus {
    outline: none;
  }
}

.ant-btn-danger {
  color: #fff;
  background-color: #f04134;
  border-color: #f04134;
  &:hover, &:focus {
    opacity: .75;
  }
}
